---
import FragmentRight from "./FragmentRight.astro";
import {rightData} from "./ruleData";
const {rightDataList} = Astro.props as { rightDataList: rightData[] }
---
<div class="w-full md:w-2/3 lg:w-2/3 xl:w-2/3 flex flex-col justify-between items-center gap-5">
    {
        rightDataList.map(value => (
                <FragmentRight data={value}/>
        ))
    }
</div>