---
import Container from "./Container.astro"
import Address from "./Address.astro";

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Hash竞猜平台 <span class="bg-gradient-to-r from-pink-500 to-violet-500 text-transparent bg-clip-text">Tron58.com</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300 font-nomal"> 公平,安全,公开,信誉靠谱的Hash竞猜平台,<a class="italic font-bold underline text-pink-500 decoration-violet-500" target="_blank" href="https://m.mytokencap.com/news/117045">结果不可篡改,无法操控</a>。结算快,资金池保障,值得信赖!</p>
                <div class="mt-16 flex flex-wrap justify-left gap-y-4 gap-x-6">
                    <Address name="单双" addr="TFC4BQAoUQpmrhvfbU2mAKQKjhE8dSssss" />
                    <Address name="大小" addr="TYtCeyavyAUxza4BYJAz2WJ9sdqBDXxxxx" />
                    <Address name="牛牛" addr="TVkA1EoXjrGnVaALdkgYDiABCBfUNnnnnn"/>
                    <Address name="PK10赛车" addr="TDyvuWL3J34N36JqVRmqb38VktpACCCCCC"/>
                    <Address name="双尾" addr="TQc6ByT15UtsZNx6CERwELvmYBuhWwwwww"/>
                    <!--<Address name="奖池" addr="TAYJNznCDzNCTSXyGejMyCTdSg1u555555"/>-->
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">公平透明</h6>
                        <p class="mt-2 text-gray-500">链上可查公开、不可篡改</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">安全可靠</h6>
                        <p class="mt-2 text-gray-500">安全可靠、极简快速</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">专属客服</h6>
                        <p class="mt-2 text-gray-500">24小时专属客服</p>
                    </div>
                </div>
            </div>
            <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/microsoft.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                  <img src="./images/clients/airbnb.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                </div>
                <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                  <img src="./images/clients/google.svg" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/ge.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div>
                  <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/netflix.svg" class="h-8 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/google-cloud.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                </div>
              </div>
        </div>
    </Container>
</div>